<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cherryvietnam.nemo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NEMO</name>
    <description>
        NEMO application
    </description>
    <author email="hoangtua.vn@gmail.com" href="http://webfaver.com">
        Tua Hoang Nguyen
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    

    <!-- iPad -->
    <icon src="res/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />   
    <!-- Settings Icon -->
    <icon src="res/ios/Icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/ios/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />  
    <!-- Spotlight Icon -->
    <icon src="res/ios/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/ios/Icon-40@2x.png" gap:platform="ios" width="80" height="80" /> 
    <!-- iPad -->
    <icon src="res/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />   
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/ios/Icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/ios/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />

    <!-- OTHER PLATFORM ICON -->
    <icon src="res/Icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/android/drawable-ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/android/drawable-mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/android/drawable-hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/android/drawable-xhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/android/drawable-xxhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/android/drawable-xxxhdpi/ic_launcher.png" />
    <icon gap:platform="wp8" src="res/wp/ApplicationIcon.png" width="99" height="99" />
    <icon gap:platform="wp8" src="res/wp/Background.png" width="159" height="159" />

    <!-- SPLASH SCREEN -->
    <!-- <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/splash/nemo.480.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/splash/nemo.640.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/splash/nemo.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/splash/nemo.png" />
    <gap:splash gap:platform="ios" height="480" src="res/splash/nemo.320.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/splash/nemo.640.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/splash/nemo.640.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/splash/nemo.768.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/splash/nemo.768.png" width="1024" />
    <gap:splash gap:platform="winphone" src="res/splash/nemo.png" /> -->

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="wp8">       
        <allow-intent href="tel:*" />
        <allow-intent href="geo:*" />
     </platform>
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>
</widget>
